object Host "koofr-ceph1" {
  import "ceph-storage-host"

  display_name = "koofr-ceph1"

  address = "176.9.151.57"

  groups = [ "servers-ceph-storage" ]

  vars.disks  = [ "/" ]

  vars.if_wan = "eth0"
  vars.if_vpn = "kcp"

  vars.tinc_networks = {
    "koofr-ceph" = {
      "peers" = [ "192.168.100.150", "10.10.1.2", "10.10.1.3", "10.10.1.4", "10.10.1.5", "10.10.1.6", "192.168.122.200", "192.168.122.210", "192.168.122.220" ]
    }
  }

  vars.notification.mail.groups = [ "koofr-app-admins" ]

  vars.hetzner_host = true

  vars.ceph.roles = [ "mon", "osd", "mgr" ]
  vars.ceph_host = "10.10.1.1"
  vars.ceph_mon_id = "koofr-ceph1"
  vars.ceph_pools = [ "default.rgw.log", "default.rgw.intent-log", "default.rgw.meta", "default.rgw.buckets.index", "default.rgw.buckets.data" ]
}